# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# client ignores
/client/node_modules
/client/.pnp
/client.pnp.js
/client/coverage
/client/build

# server ignores
/server/node_modules
/server/.env